/* SMARTPHONE */
* {
    margin: 0;
    padding: 0;
  }

  #gridAreas{
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "productos"
    "footer"
    ;
  }
  .header{
    grid-area: header;
  }
  .header__logos {
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }
  
  .header_derecha {
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .logo_ferreteria {
    height: 13vh;
    width: 13vh;
  }
  
  .logo_ig {
    height: 6vh;
    width: 6vh;
    margin-right: 10px;
  }
  .logo_fb {
    height: 6vh;
    width: 6vh;
  }
  /* NAVEGADOR*/
  .navegadorWeb {
    height: 100%;
    background-color: brown;
    text-align: center;
    position: sticky;
    grid-area: nav;
  }
  
  .navegadorWeb ul {
    list-style: none;
    padding: 20px;
    display: inline-block;
  
  }
  .navegadorWeb ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
    
  }
  /* CUERPO SMARTPHONE */

  #gridRepetitivo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.productos{
grid-area:productos;
}
  .producto{
    height: 13.5rem;
    width: 13.5rem;
    padding:10px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: grey;
    color:white;
}

  /*  FOOTER SMARTPHONE */
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: brown;
    grid-area: footer;
  }
  
  footer h3{
    margin: 3px;
    color:white;
  }
  
  
  /* TABLETS */
  @media(min-width: 480px) and (max-width:1023px){
    *{
      margin:0;
      padding:0;
    }
    #gridAreas{
      display: grid;
      grid-template-areas:
      "header"
      "nav"
      "productos"
      "footer"
      ;
    }
    #gridRepetitivo{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(6,1fr);

  }
    /* HEADER */
    .header{
      grid-area: header;
    }
    .header__logos {
      object-fit: contain;
      display: flex;
      justify-content: space-between;
    }
    
    .header_derecha {
      margin-right: 10px;
      margin-top: 5px;
    }
    
    .logo_ferreteria {
      height: 13vh;
      width: 13vh;
    }
    
    .logo_ig {
      height: 6vh;
      width: 6vh;
      margin-right: 10px;
    }
    .logo_fb {
      height: 6vh;
      width: 6vh;
    }
    /* NAVEGADOR */
    .navegadorWeb {
      height: 100%;
      background-color: brown;
      text-align: center;
      position: sticky;
      grid-area:nav;
    }
    
    .navegadorWeb ul {
      list-style: none;
      padding: 20px;
      display: flex;
      justify-content: center;
    
    }
    .navegadorWeb ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 25px;
      padding: 18px;
    }
    /* CUERPO TABLETS */
 
  .productos{
    grid-area: productos;
  }
  .producto{
      height: 13rem;
      width: 13rem;
      padding:10px;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: grey;
      color:white;

  }

    /* FOOTER TABLETS */

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: brown;
        grid-area:footer;
      }
      
      footer h3{
        margin: 3px;
        font-size: 25px;
        color:white;
      }
}

/* ESCRITORIO */
@media(min-width:1024px){
    * {
      margin: 0;
      padding: 0;
    }
    #gridAreas{
      display: grid;
      grid-template-areas:
      "header"
      "nav"
      "productos"
      "footer"
      ;
    }
    #gridRepetitivo{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,1fr);

  }
    .header{
      grid-area:header
    }
    .header__logos {
      object-fit: contain;
      display: flex;
      justify-content: space-between;
    }
    
    .header_derecha {
      margin-right: 10px;
      margin-top: 5px;
    }
    
    .logo_ferreteria {
      height: 13vh;
      width: 13vh;
    }
    
    .logo_ig {
      height: 6vh;
      width: 6vh;
      margin-right: 10px;
    }
    .logo_fb {
      height: 6vh;
      width: 6vh;
    }
    
    .navegadorWeb {
      height: 100%;
      background-color: brown;
      text-align: center;
      position: sticky;
      grid-area:nav;
    }
    
    .navegadorWeb ul {
      list-style: none;
      padding: 20px;
      display: flex;
      justify-content: center;
    
    }
    .navegadorWeb ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      padding: 18px;
    }
    /* CUERPO */


    .productos{
      grid-area:productos;
    }
    .producto{
        height: 18.75rem;
        width: 18.75rem;
        padding:10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: grey;
        color:white;
        
    }

    /* FOOTER ESCRITORIO */
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: brown;
        grid-area:footer;
      }
      
      footer h3{
        margin: 3px;
        color:white;
      }
}