* {
    margin: 0;
    padding: 0;
  }
  #gridAreas{
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "titulo"
    "mapa"
    "direccion"
    "footer"
    ;
    grid-template-columns: 100%;
  }
  
  .header__logos {
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }
  
  .header_derecha {
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .logo_ferreteria {
    width: 6.25rem;
  }
  
  .logo_ig {
    
    width: 1.87rem;
    margin-right: 10px;
  }
  .logo_fb {
    
    width: 1.87rem;
  }
  
  .navegadorWeb {
    height: 60%;
    background-color: brown;
    text-align: center;
    position: sticky;
  }
  
  .navegadorWeb ul {
    list-style: none;
    padding: 20px;
    display: inline-block;
  }
  .navegadorWeb ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
  }
  /* body */
.titulo{
    display: flex;
    justify-content: center;
    border: solid 0px white;
    background-color: #EB1B23;
    width: auto;

}
.titulo h1{
    background-color: #901726;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 5px;
    border-radius: 6px;
}
  .map_ubicacion{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2C2C32;
  }

.seccionDireccion{
    display: flex;
    justify-content: center;
    background-color: #25252B;
}

.direccion
{
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 25px;
    border: solid 1px gray;
    padding: 10px;
    background-color: #2C2C32;
  width: 7rem;
}

.direccionHorario{
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
    border: solid 1px gray;
    padding: 10px;
    background-color: #2C2C32;
    width: 7rem;
 

}


  /* footer */
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: brown;
  }
  
  footer h3{
    margin: 3px;
    color:white;
  }

    /* TABLETS */
    @media(min-width: 480px) and (max-width:1023px){
      *{
        margin:0;
        padding:0;
      }
      #gridAreas{
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "titulo"
        "mapa"
        "direccion"
        "footer"
        ;
        grid-template-columns: 100%;
      }
      /*HEADER*/
    .header{
      grid-area: header;
    }
    .header__logos {
      object-fit: contain;
      display: flex;
      justify-content: space-between;
    }
    
    .header_derecha {
      margin-right: 10px;
      margin-top: 5px;
    }
    
    .logo_ferreteria {
      width: 6.25rem;
    }
    
    .logo_ig {
      
      width: 1.87rem;
      margin-right: 10px;
    }
    .logo_fb {
      
      width: 1.87rem;
    }
  
    /*NAVEGADOR*/
    .navegadorWeb {
      height: 60px;
      background-color: brown;
      text-align: center;
      position: sticky;
      grid-area: nav;
    }
    
    .navegadorWeb ul {
      list-style: none;
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    .navegadorWeb ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      padding: 18px;
    }
    .titulo{
      display: flex;
      justify-content: center;
      border: solid 0px white;
      background-color: #EB1B23;
      width: auto;
      grid-area: titulo;
  
  }
  .titulo h1{
      background-color: #901726;
      text-align: center;
      margin: 10px;
      color: white;
      padding: 5px;
      border-radius: 6px;
  }
    .map_ubicacion{
      display: flex;
      justify-content: center;
      padding: 10px;
      background-color: #2C2C32;
      grid-area: mapa;
    }
  
  .seccionDireccion{
      display: flex;
      justify-content: center;
      background-color: #25252B;
      grid-area:direccion;
  }
  
  .direccion
  {
      color:white;
      margin-top: 10px;
      margin-bottom:10px;
      margin-right: 25px;
      border: solid 1px gray;
      padding: 10px;
      background-color: #2C2C32;
  
  }
  
  .direccionHorario{
      color:white;
      margin-top: 10px;
      margin-bottom:10px;
      border: solid 1px gray;
      padding: 10px;
      background-color: #2C2C32;
  }
    /* footer */
    footer{
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: brown;
      grid-area:footer;
    }
    
    footer h3{
      margin: 3px;
      color:white;
    }
    }
  


  /* ESCRITORIO */
  @media(min-width:1024px){
    *{
      margin:0;
      padding:0;
    }
    #gridAreas{
      display: grid;
      grid-template-areas:
      "header"
      "nav"
      "titulo"
      "mapa"
      "direccion"
      "footer"
      ;
      grid-template-columns: 100%;
    }
    /*HEADER*/
  .header{
    grid-area: header;
  }
  .header__logos {
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }
  
  .header_derecha {
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .logo_ferreteria {
    width: 6.25rem;
  }
  
  .logo_ig {
    
    width: 1.87rem;
    margin-right: 10px;
  }
  .logo_fb {
    
    width: 1.87rem;
  }

  /*NAVEGADOR*/
  .navegadorWeb {
    height: 60px;
    background-color: brown;
    text-align: center;
    position: sticky;
    grid-area: nav;
  }
  
  .navegadorWeb ul {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .navegadorWeb ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    border: solid 0px white;
    background-color: #EB1B23;
    width: auto;
    grid-area: titulo;

}
.titulo h1{
    background-color: #901726;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 5px;
    border-radius: 6px;
}
  .map_ubicacion{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2C2C32;
    grid-area: mapa;
  }

.seccionDireccion{
    display: flex;
    justify-content: center;
    background-color: #25252B;
    grid-area:direccion;
}

.direccion
{
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 25px;
    border: solid 1px gray;
    padding: 10px;
    background-color: #2C2C32;

}

.direccionHorario{
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
    border: solid 1px gray;
    padding: 10px;
    background-color: #2C2C32;
}
  /* footer */
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: brown;
    grid-area:footer;
  }
  
  footer h3{
    margin: 3px;
    color:white;
  }
  }